# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
.next/
out/
dist/
build/

# Env
.env
.env*.local

# Logs
*.log
npm-debug.log*

# OS / editor
.DS_Store
*.pem
.idea/
*.swp

# Turbo / caches
.turbo/
.cache/
